.git-repo {
    float: left;
    width: 470px;
    word-wrap: break-word;
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.git-repo-one-column {
    width: 98%;
}

.git-repo h3 { margin-bottom: 5px; margin-top: 0;}

.git-repo label { width: 90px; display: inline-block; }
.git-repo select { width: 340px; }

.git-branches { margin-bottom: 15px; }
.git-current-branch-remotes { margin-top: -15px; margin-bottom: 15px; }

.git-staged, .git-diff-line-added { background-color: rgba(133, 153, 0, 0.35); }
.git-unstaged, .git-unstaged a, .git-diff-line-removed { background-color: rgba(220, 50, 47, 0.35); }
.git-new { color: forestgreen; }
.git-deleted { color: red; }

.git-diff-line {
  border-bottom: solid 1px #002b36;
  font-size: 0.8em;
  margin: 0 !important;
  white-space: pre-wrap;
}

.git-diff-line-header {
  background-color: #002b36;
  font-weight: bold;
}

.pre-whitespace { white-space: pre; }

.git-branch.item {
  padding: 5px;
}

.git-branch.item {
  border-bottom: 1px solid rgba(64, 64, 64, 0.5);
  box-shadow: inset 0px -2px 1px -1px rgba(16, 16, 16, 0.5);
}

.volatile-container,
.bottom.git-command-toolbox {
  border-top: 1px solid rgba(64, 64, 64, 0.5) !important;
  box-shadow: 0px -2px 1px -1px rgba(16, 16, 16, 0.8);
}

.git-branch.item.extended {
  padding-bottom: 10px;
}

.git-branch.item.extended h5 {
  padding-top: 0.5em;
  float: left;
}

ul.git-command-toolbox {
  padding-top: 10px;
  padding-left: 5px;
  margin: 0px;
}

.git-branch.item.extended ul.git-command-toolbox {
  padding-top: 0;
}

ul.git-command-toolbox li {
  list-style: none;
  display: inline;
}

ul.git-command-toolbox li a {
  margin-bottom: 5px !important;
}

.git-hidden {
	display: none !important;
}

a {
  color: #839496 !important;
}

a:hover {
  color: #268bd2 !important;
}

.ui.blue.segment {
  border-color: #268bd2 !important;
}

.ui.red.segment {
  border-color: #dc322f !important;
}

i.ui.inverted.red.icon,
div.ui.red.ribbon {
  background-color: #dc322f !important;
  border-color: #bc121f !important;
}

.ui.green.segment {
  border-color: #859900 !important;
}

i.ui.inverted.green.icon,
div.ui.green.ribbon {
  background-color: #859900 !important;
  border-color: #657900 !important;
}

body,
.consoloid .dialog,
.dialogs-container {
  background-color: #002b36 !important;
  border-color: #839496;
}

body,
.consoloid .dialog,
.dialogs-container,
.ui.message {
  color: #839496 !important;
}

.ui.grid>.column {
  font-size: 15px !important;
}

.ui.yellow.buttons .button:hover,
.ui.yellow.button:hover,
.ui.yellow.buttons .active.button,
.ui.yellow.button.active {
  background-color: #b58900 !important;
}

@media (min-width: 1000px) {
  .dialog .response {
    padding: 0 2em;
  }
}

@media (max-width: 1000px) {
  .dialog .response {
    padding: 0 1em;
  }
}


.dialog .response {
  overflow-x: hidden;
}

#prompt {
	z-index: 20;
}
.float.right {
	float: right;
}

#prompt i {
  float: left;
  display: block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.dialogs > .dialog > .request,
#prompt .request,
.ui.mini.basic.button
{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee8d5), color-stop(100%,#93a1a1));
  background: linear-gradient(to bottom, #eee8d5 0%, #93a1a1 100%);
  opacity: 1;
}

.dialogs > .dialog > .request,
#prompt .request,
.ui.mini.basic.button,
.ui.mini.basic.button > .icon {
  color: #073642!important;
 }

.ui.mini.basic.button:hover
{
  opacity: 1 !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee8d5), color-stop(100%,#93b1b1));
  background: linear-gradient(to bottom, #eee8d5 0%, #93b1b1 100%);
}

.ui.mini.basic.button:active
{
  opacity: 1;
  background-color: #eee8d5!important;
  background-image: none;
}

.dialogs > .dialog > .request,
#prompt .request
{
  box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

#prompt,
.prompt > .icon,
#prompt .dialog,
.request .actions a {
  color: #073642 !important;
}

#prompt,
.prompt > .icon,
#prompt .dialog,
.actions a {
  text-decoration: none !important;
}

.volatile-container .request .actions a {
  color: #839496 !important;
  text-decoration: none;
}

.actions li {
  margin-top: -0.2em !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.actions a:hover,
.volatile-container .request .actions a:hover {
  color: #268bd2!important;
}

#prompt .request {
  padding-bottom: 0.1em;
}

input.human-text {
	margin-top: -0.2em !important;
  padding: 0.2em !important;
}

#prompt .prompt {
  width: 80%;
}

#prompt .prompt input {
  text-align: left;
  width: 90%;
}

#prompt .actions,
#prompt .actions ul,
#prompt .actions li {
	margin: 0 !important;
	padding: 0 !important;
}

.clicked-prompt-mic {
   display: inline-block;
   border-radius: 10em;
   background-color: #dc322f !important;
   color: white !important;

   padding: 0 !important;
   width: auto !important;
   height:  auto !important;
   position: relative;
   margin-bottom: 0 !important;
   margin-left:  0 !important;
   right: 0 !important;
   bottom: 0 !important;

   text-align: center;

  animation: redPulse 2s infinite;

  -webkit-animation: redPulse 2s infinite;
}

@keyframes redPulse {
  from { box-shadow: 0 0 0 rgba(220, 50, 47, 0.35); }
  50% { box-shadow: 0 0 0 10px rgba(220, 50, 47, 0.35); }
  to { box-shadow: 0 0 0 rgba(220, 50, 47, 0.35); }
}

@-webkit-keyframes redPulse {
  from { -webkit-box-shadow: 0 0 0 rgba(220, 50, 47, 0.35); }
  50% { -webkit-box-shadow: 0 0 0 10px rgba(220, 50, 47, 0.35); }
  to { -webkit-box-shadow: 0 0 0 rgba(220, 50, 47, 0.35); }
}

.clicked-prompt-mic i:before {
   color: white !important;
}


.ui-autocomplete {
  background-color: rgba(7, 54, 66, 0.8) !important;
  border-color: #93a1a1;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

#conv-0 .request {
  display: none;
}

.volatile-convos .dialog,
.repos .segment,
.form.segment,
.argument.fixer.segment,
.list-view .segment,
.list-filter.segment,
.ui.message {
  background-color: rgba(7, 54, 66, 0.8) !important;
}

.form.segment,
.argument.fixer.segment {
	margin-bottom: 1rem !important;
}

.list-filter.segment {
	border: none !important;
}

.filter-value {
	margin-top: 2em;
}

.repos i {
  float: left;
}

.repos h3 a {
  float: right;
}

.repo-expression-links {
  width: 100%;
}

.repos .top.attached.label {
  background-color: rgba(7, 54, 66, 1);
  color: #839496;
  font-size: 1.2em;
  height: 2.5em;
}

.repos h4.top.attached.label,
.list-filter .top.attached.label,
.list-filter .corner.label {
  background-color: rgba(10, 57, 69, 1);
  color: #839496;
  font-size: 1em;
  height: 2.2em;
  font-weight: normal;
}

.repos h4.top.attached.label i.icon {
  padding-right: 1em;
}

.repos .list .item > .icon {
  color: #657b83;
}

.repos .branch-status.list >.item > .content {
  font-size: 1.2em !important;
}

.branch-status,
.list-view .segment {
  overflow: hidden;
  font-size: 0.8em;
}

.scrollbar-wrapper {
  border: none !important;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
  background-color: rgba(7, 54, 66, 0.8) !important;
  margin: 0.5em;
}

.scrollbar-wrapper, .scrollbar-wrapper * {
  font-size: 15px !important;
}

.scrollbar-wrapper button.ui.basic.button {
  padding: 1em 0.5em !important;
  color: rgb(128, 128, 128);

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 232, 213, 0.3)), color-stop(100%, rgba(7, 54, 66, 0.3)));
  background: linear-gradient(to bottom, rgba(238, 232, 213, 0.3) 0%, rgba(7, 54, 66, 0.3) 100%);
}

.scrollbar-wrapper button.ui.basic.button .icon {
  width: 1em !important;
}

.scrollbar-wrapper button.ui.basic.button:hover
{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee8d5), color-stop(100%,#93b1b1));
  background: linear-gradient(to bottom, #eee8d5 0%, #93b1b1 100%);
}

.scrollbar-wrapper button.ui.basic.button:active
{
  background-color: #eee8d5!important;
  background-image: none;
}

.scrollbar-wrapper button.ui.basic.button:disabled
{
  color: #586e75 !important;
  background: none !important;
}

.scrollbar-wrapper button.ui.basic.button:disabled:hover
{
  background: none !important;
}

.scrollbar-wrapper button.ui.basic.button:disabled:active
{
  background: none !important;
}

.scrollbar-pagenumber {
  padding: 1em 0;
}

.list-view .collapsed {
  white-space: nowrap;
}

.list-view .collapse-buttons .button {
  margin-top: 0.5em;
  opacity: 0.5 !important;
  padding: .6em !important;
}

.list-view .collapse-buttons .button .icon {
  font-size: 0.8em;
}

.list-view .collapse-buttons .button.less {
  margin-left: 3.5em !important;
}

.pre-line {
	white-space: pre-line;
}

.request .reference-text {
	color: #586e75;
	padding-right: 3em !important;
}

.ambigous.column {
	margin-top: 0 !important;
	margin-bottom: 0.5rem !important;
}

.ambigous.column a {
	text-align: left;
	width: 100%;
}

.ambigous.column a i {
  display: block;
  float: left;
  font-size: 1.1em;
}

.volatile-container .dialog .response {
  overflow-x: initial;
}

.volatile-container .dialog .request i.icon {
  margin-top: -0.1em;
  font-size: .6em;
}

.volatile-container .dialog .request {
  background-color: rgba(10, 57, 69, 1);
  padding-top: 0.1em;
  padding-right: 0.3em;
}

.volatile-container .dialog .response {
  padding-left: 0.3em;
}

.volatile-container .dialog .response div {
  margin-bottom: 0.3em;
}

.volatile-container .dialog .response i.icon {
	margin-top: -1em !important;
	font-size: 1em !important;
}

.volatile-container .dialog {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
  border: none !important;
  padding: 0 !important;
}

.volatile-container.closed .dialog {
  height: 2.5em !important;
}

.volatile-convos .response .normal .message {
	padding-left: 2.3em
}

.volatile-container > .response > .actions {
	font-size: 1.3em;
}

.volatile-container .expander {
	padding-right: .4em;
}

.volatile-container .expander i.right {
	margin-left: 0.2em !important;
}

.volatile-container .expander i.down {
  margin-left: -0.2em !important;
}


.volatile-container > .response > .expander,
.volatile-container > .response > .actions {
  max-width: 3%;
  z-index: 10;
  position: relative;
}

.volatile-convos .dialog {
	width: 100% !important;
}

.volatile-convos {
  width: 90% !important;
}

.actions ul {
	padding: 0 !important;
}

.volatile-container > .response {
	overflow-x: initial;
}

.volatile-convo-number {
  padding-top: 1.1em !important;
}

.volatile-container .expander.pulse-error {
  animation: tada-pulse-error 5s infinite !important;
  -webkit-animation: tada-pulse-error 5s infinite !important;
}

@keyframes tada-pulse-error {
  0% {
    text-shadow: 0px 0px 1px #dc322f;
  }
  50% {
    text-shadow: 0px 0px 20px #dc322f;
  }
  100% {
    text-shadow: 0px 0px 1px #dc322f;
  }
}

@-webkit-keyframes tada-pulse-error {
  0% {
    text-shadow: 0px 0px 1px #dc322f;
  }
  50% {
    text-shadow: 0px 0px 20px #dc322f;
  }
  100% {
    text-shadow: 0px 0px 1px #dc322f;
  }
}

.volatile-container .expander.pulse-info {
  animation: tada-pulse-info 5s infinite;
  -webkit-animation: tada-pulse-info 5s infinite;
}

@keyframes tada-pulse-info {
  0% {
    text-shadow: 0px 0px 1px #859900;
  }
  50% {
    text-shadow: 0px 0px 20px #859900;
  }
  100% {
    text-shadow: 0px 0px 1px #859900;
  }
}

@-webkit-keyframes tada-pulse-info {
  0% {
    text-shadow: 0px 0px 1px #859900;
  }
  50% {
    text-shadow: 0px 0px 20px #859900;
  }
  100% {
    text-shadow: 0px 0px 1px #859900;
  }
}

.volatile-container .expander.pulse-both {
  animation: tada-pulse-both 5s infinite;
  -webkit-animation: tada-pulse-both 5s infinite;
}

@-webkit-keyframes tada-pulse-both {
  0% {
    text-shadow: 0px 0px 20px #859900;
  }
  50% {
    text-shadow: 0px 0px 20px #dc322f;
  }
  100% {
    text-shadow: 0px 0px 20px #859900;
  }
}

@keyframes tada-pulse-both {
  0% {
    text-shadow: 0px 0px 20px #859900;
  }
  50% {
    text-shadow: 0px 0px 20px #dc322f;
  }
  100% {
    text-shadow: 0px 0px 20px #859900;
  }
}

.argument.fixer .form fieldset {
	border: none;
}

.argument.fixer .form .ui.grid>.column {
	margin-top: 0 !important;
}

.argument.fixer .form .ui.grid>.column:first-child {
  padding-right: 0 !important;
}

.form label {
	display: block;
  margin-bottom: 0.3em !important;
}

.form span.error {
	display: block;
	background-color: #dc322f;
	border-radius: 5px;
	padding: 0.5em 0.8em;
	color: #EEE8D5;
}

.form span.error:before {
  background-color: #dc322f;
  background-image: none;
  content: "";
  height: 0.6em;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transition: background 0.1s linear 0s;
  width: 0.6em;
  z-index: 2;
}

@media (min-width: 992px) {
  .form span.error:before {
    margin-left: -1em;
  }
	.form span.error {
    margin-top: 1.5em !important;
	}
}

@media (max-width: 992px) {
  .form span.error:before {
    margin-top: -0.8em;
  }
}